.edit_box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    z-index: 11;
}

.edit_popup {
    background-color: #808080;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    position: absolute;
    padding: 40px 20px;
    margin-top: 40px;

}

.closePopup {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

.editAddBtn {
    display: flex;
    gap: 20px;
}

.editBtn,
.addBtn {
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(230, 221, 239);
}

.editBtn {
    background-color: rgb(230, 108, 108);
}

.addBtn {
    background-color: rgb(86, 151, 235);
}

.editBtn:hover,
.addBtn:hover {
    background-color: rgb(230, 221, 239);
    transform: scale(1.1);
    transition: 0.4s;
}

.input_box {
    border-radius: 10px;
    width: 300px;
    padding: 10px 10px;
}

#popup_for_admin {
    display: none;
}